body {

    background-image: url('images/3.gif');
    /* URL ของรูปภาพพื้นหลัง (ถ้ามี) */
    /*background-repeat: repeat;*/
    /* ตัวเลือกการทำซ้ำ: repeat, repeat-x, repeat-y, no-repeat */
    background-position: center center;
    /* ตำแหน่งของรูปภาพ (หากมี) */
    background-attachment: fixed;
    /* การแนบรูปภาพ: fixed (คงที่), scroll (เลื่อนตาม) */
    /* คุณสามารถเพิ่มคุณสมบัติ background อื่น ๆ ตามต้องการ */
    font-family: 'Dancing Script', cursive
}

button {
    font-family: 'Dancing Script', cursive;
    font-size: 16px;
    border-color: aliceblue;
    border-radius: 1cqmax;
    background-color: #000000;
    color: thistle;
}

.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9,
.div10,
.div11,
.div11,
.div12,
.div13 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div2 img,
.div3 img,
.div4 img,
.div5 img,
.div6 img {
    width: 160px;
    height: 160px;
    border-radius: 2cqmax;
    border-color: black;
    border: 10px solid #b99b9b64;
}

.parent {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 5 / 3 / 17;
    color: rgb(53, 8, 74);
    letter-spacing: 4px;
    padding: 0 0 0 0;
    letter-spacing: 20px;
    font-size: 50px;

}

.div2 {
    grid-area: 2 / 4 / 6 / 6;
}

.div3 {
    grid-area: 2 / 7 / 6 / 9;
}

.div4 {
    grid-area: 2 / 10 / 6 / 12;
}

.div5 {
    grid-area: 2/ 13 / 6 / 15;
}

.div6 {
    grid-area: 2 / 16 / 6 / 18;
}

.div7 {
    grid-area: 4 / 7 / 7/ 15;
    color: rgb(255, 255, 255);

}

.div8 {
    grid-area: 4 / 4 / 5 / 6;
}

.div9 {
    grid-area: 4 / 7 / 5 / 9;
}

.div10 {
    grid-area: 4 / 10 / 5 / 12;
}

.div11 {
    grid-area: 4 / 13 / 5 / 15;
}

.div12 {
    grid-area: 4 / 16 / 5 / 18;
}

.div13 {
    grid-area: 2 / 19 / 3 / 20;
    background-color: aliceblue;
    border-radius: 50%;
    margin: 40px;
    border: 4px solid aliceblue;
}

.div13 img {
    width: 50px;
    height: 50px;
}
